{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "python",
    "languageWorkers:python:defaultExecutablePath": "/Users/jcodella/github/AgentMemoryToolkit/azure_functions/.venv/bin/python",

    "COSMOS_DB__accountEndpoint": "https://<cosmos-endpoint>.documents.azure.com:443/",
    "COSMOS_DB_DATABASE": "ai_memory",
    "COSMOS_DB_CONTAINER": "memories",
    "COSMOS_DB_LEASE_CONTAINER": "leases",
    "COSMOS_DB_COUNTERS_CONTAINER": "counter",
    "COSMOS_DB_THROUGHPUT_MODE": "serverless",
    "COSMOS_DB_AUTOSCALE_MAX_RU": "1000",

    "THREAD_SUMMARY_EVERY_N": "0",
    "FACT_EXTRACTION_EVERY_N": "0",
    "USER_SUMMARY_EVERY_N": "0",


    "AI_FOUNDRY_ENDPOINT": "https://<foundry-endpoint>.openai.azure.com/",
    "AI_FOUNDRY_LLM": "gpt-5-nano",
    "AI_FOUNDRY_EMBEDDING_MODEL": "text-embedding-3-large",
    "EMBEDDING_DIMENSION": "1536",
    "AI_FOUNDRY_API_VERSION": "2024-12-01-preview"
  }
}
